.view{
    background: #323232;
    height: 500px;
    width: 400px;
}

/* Add small logo and big logo to one location */

.logo{
    height: 36px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.logo:hover{
    cursor: pointer;
}


.logo__text{
    color: #00D856;
    font-size: 2.1rem;
}

.logo__small{
    font-size: 1.7rem;
}