.wrapper{
    text-align: center;
    margin-top: 60px;
}

.wrapper__text__title{
    color: #FFF;
    font-size: 1.4rem;
}

.wrapper__text__title_small{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.wrapper__text__title_strong{
    color: #00D856;
}

.wrapper__text__description{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    width: 305px;
    margin: 0 auto;
    padding-top: 10px;
}

.footer{
    width: 100%;
    height: 30px;
    text-align: center;
}

.footer__text{
    color: #999999;
    font-size: .8rem;
}

.logo{
    height: 36px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.logo:hover{
    cursor: pointer;
}


.logo__text{
    color: #00D856;
    font-size: 2.1rem;
}

.logo__small{
    font-size: 1.7rem;
}